
.container1>.item{ 
  text-align: center;
  width: 100%;

}
.container1 img {
  width: 100%;
}
.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.container1 h3{
  font-weight: normal;
}
